.button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border: none;
  border-radius: 6px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.button svg {
  stroke: var(--secondary);
}

.hoverable:active {
  transform: scale(0.8);
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}