.rentalHistoryTableView input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rentalHistoryTableView input[type="checkbox"]:disabled {
  cursor: default;
}

.returned {
  color: rgb(52, 152, 219);
  font-weight: bold;
}

.rented {
  color: rgb(231, 76, 60);
  font-weight: bold;
}