/* 全体のレイアウト */
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 40px 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-color: var(--background); /* 背景色を設定 */
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  width: 100%;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 8px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

/* テーブルスタイル */
.tb {
  width: 100%;
  border-collapse: collapse;
  margin-top: 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tb th,
.tb td {
  padding: 12px 16px;
  text-align: left;
  font-size: 16px;
  border: 1px solid var(--gray-alpha-200);
}

.tb th {
  background-color: var(--gray-alpha-100);
  color: var(--foreground);
  font-weight: 600;
}

.tb tr:nth-child(even) {
  background-color: var(--gray-alpha-50);
}

.tb tr:hover {
  background-color: var(--gray-alpha-200);
}

.tb td {
  word-wrap: break-word;
}

.tb td,
.tb th {
  vertical-align: middle;
}

.tb td:first-child {
  font-weight: bold;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
  .page {
    padding: 32px;
  }

  .main {
    align-items: center;
  }

  .tb {
    width: 100%;
    font-size: 14px;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
