.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}