.selectBox {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  color: var(--text-primary);
  background-color: var(--secondary);
  border: 1px solid var(--border);
  border-radius: 6px;
  transition: border-color 0.2s ease;
}

.selectBox:disabled {
  color: var(--text-primary);
  background-color: var(--background);
}