/* Footer */
.siteFooter {
  bottom: 0;
  height: 100px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  background: linear-gradient(240deg, rgba(255, 0, 140, 0.2) 0%,
      rgba(0, 21, 255, 0.2) 100%), #828282;

}

.githubLinkBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: large;
  color: white;
}

.githubLinkBtn svg {
  color: white;
  width: 40px;
  height: auto;
}