.submitWrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.dateInput {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.remarksTextarea {
  width: 100%;
  font-size: 14px;
  padding: 4px;
}