.submitWrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.dateInput {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.remarksTextarea {
  padding: 4px;
  width: 50%;
  font-size: 14px;
  border-radius: 6px;
  border: solid 1px #ccc;
}

.inputItems {
  padding: 20px 0;
}

.inputGroup {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
}

.inputLabel {
  width: 100px;
  text-align: end;
  font-weight: bold;
}