.submitWrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.dateInput {
  width: 150px;
  padding: 4px 6px;
  font-size: 14px;
}

.remarksTextarea {
  width: 100%;
  font-size: 14px;
  padding: 4px;
}