.toggleHeader {
  display: inline-flex;
  user-select: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-weight: bold;
}

.input {
  padding: 5px 10px;
  border: solid 1px gray;
  border-radius: 3px;
}

.inputHelp {
  color: var(--help);
}

.submitButton {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: var(--secondary);
  background-color: var(--primary);
  cursor: pointer;
}

.submitButton svg {
  width: 20px;
  height: auto;
}