.pagination_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination {
  display: flex;
  position: relative;
  width: 800px;
  padding: 0.5rem;
  justify-content: center;
  gap: 10px;
}

.pagination > button {
  padding: 0.5rem 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  font-size: 16px;
  border-style: none;
  border-radius: 3px;
  color: black;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination > button:hover {
  background-color: white;
  box-shadow: inset 0 0 0 1px black;
}

.pagination > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.active {
  background-color: black !important;
  color: white !important;
  font-weight: bold !important;
}

.active:hover {
  background-color: white;
}
.dots {
  padding: 0.5rem 0.75rem;
  color: #888;
}

.prev {
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
}
