.pagination_container {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  width: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.pagination>button,
.dots {
  min-width: 48px;
  min-height: 48px;
  background-color: var(--secondary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.prev,
.next {
  width: 83px;
}

.prev {
  border-radius: 6px 0 0 6px;
}

.next {
  border-radius: 0 6px 6px 0;
}

.pagination>button:hover {
  box-shadow: inset 0 0 0 1px black;
}

.pagination>button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dots {
  pointer-events: none;
  color: #888;
}

.active {
  border: 1px solid var(--primary) !important;
  font-weight: bold;
  background-color: var(--primary);
}