.hiddenScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--hidden-screen-color);
  z-index: 100;
}

.cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.totalQuantityCounter {
  margin: 0 0 40px 10px;
  position: absolute;
  z-index: 100;
  color: var(--secondary);
  font-size: 17px;
  font-weight: bold;
}