.filters {
  gap: 20px;
  display: flex;
  align-items: end;
  width: 50%;
}

.categorySelectorWrapper {
  width: 400px;
}

.filtersSearchBar {
  width: 50%;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}