/* グローバル変数定義 */
:root {
  --primary: #5A5872;
  --secondary: #FFFFFF;
  --background: #D3D3D3;
  --hover: #f0f0f0;
  --danger: #f66;
  --help: gray;
  --border: #e5e7eb;
  --hidden-screen: rgba(0, 0, 0, 0.5);

  /* フォント */
  --font-text: 'Inter', sans-serif, serif;
  --font-heading: 'Jua', 'Meiryo UI', sans-serif, serif;

  /* フォントサイズ */
  --font-size-base: 16px;
  --font-size-h1: 3rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-button: 1.2rem;


  /* 行間 / 文字間隔 */
  --line-height-base: 1.5;
  --line-height-heading: 1.2;
  --letter-spacing-base: 0.02em;
  --letter-spacing-heading: 0.05em;

  /* フォントウェイト */
  --font-weight-base: 100;
  --font-weight-bold: 700;
}

html {
  font-size: var(--font-size-base);
}

body {
  color: var(--primary);
  font-family: var(--font-text);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 50px 10vw;
}