/* グローバル変数定義 */
:root {
  --primary: #5A5872;
  --secondary: #FFFFFF;
  --background: #D3D3D3;
  --hover-color: #f0f0f0;
  --danger: #f66;
  --hidden-screen-color: rgba(0, 0, 0, 0.5);

  /* フォント */
  --font-text: 'Inter', sans-serif, serif;
  --font-heading: 'Jua', 'Meiryo UI', sans-serif, serif;

  /* フォントサイズ */
  --font-size-base: 16px;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;

  /* 行間 / 文字間隔 */
  --line-height-base: 1.5;
  --line-height-heading: 1.2;
  --letter-spacing-base: 0.02em;
  --letter-spacing-heading: 0.05em;

  /* フォントウェイト */
  --font-weight-base: 100;
  --font-weight-bold: 700;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

body {
  color: var(--primary);
  background: var(--secondary);
  font-family: var(--font-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}