.layout {
  margin: 20px 0;
}

.sub_nav_wrapper,
.base_table_container {
  padding: 0 10vw;
}

/* SideMenu */
.side_menu_wrapper {
  position: absolute;
  top: 148px;
  left: 20px;
}

/* AnnounceTable & MineTable */
.base_table_container {
  padding-top: 20px;
}