.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hoverable:hover {
  transform: scale(1.1);
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Variant */
.white {
  color: var(--primary);
  background-color: var(--secondary);
}

.white .icon svg {
  stroke: var(--primary);
}

.dark {
  color: var(--secondary);
  background-color: var(--primary);
}

.danger {
  color: var(--secondary);
  background-color: var(--danger);
}

/* Size 本体 */
.sm {
  gap: 3px;
  padding: 10px;
  font-weight: 300;
  font-size: small;
}

.md {
  gap: 4px;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
}

.lg {
  gap: 5px;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
}

/* Size SVG */
.sm svg {

  width: 15px;
  height: 15px;
}

.md svg {
  width: 30px;
  height: 30px;
}

.lg svg {
  width: 45px;
  height: 45px;
}