.deleteAssetButton {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 6px;
  color: var(--secondary);
  background-color: var(--primary);
  cursor: pointer;
}

.deleteAssetButton:active {
  scale: 0.9;
}

.deleteAssetButton:disabled {
  color: rgb(144, 144, 144);
  background-color: rgb(210, 210, 210);
  cursor: default;
}

.deleteAssetButton:disabled:active {
  scale: 1;
}