.toggleHeader {
  display: inline-flex;
  user-select: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.inputGroup {}

.inputGroupInner {
  display: grid;
  grid-template-columns: 150px 1fr 0.1fr;
  align-items: center;
  gap: 10px;
}

.inputLabel {
  text-align: end;
  font-weight: bold;
}

.input {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  color: var(--text-primary);
  background-color: var(--secondary);
  border: 1px solid var(--border);
  border-radius: 6px;

}

.input:disabled {
  color: var(--text-primary);
  background-color: var(--background);
}

.inputHelp {
  color: var(--help);
}

.dateInput {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.checkBox {
  transform: scale(1.5);
  margin: 10px;
  cursor: pointer;
}

.submitButton {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: var(--secondary);
  background-color: var(--primary);
  cursor: pointer;
}

.submitButton svg {
  width: 20px;
  height: auto;
}