.layout {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--secondary);
}

.th,
.td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.th {
  padding: 12px;
  position: relative;
  text-align: left;
  background-color: var(--background);
  font-weight: bold;
}

.th::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background-color: var(--primary);
}

.th:last-child::after {
  content: none;
}

.td {
  border-bottom: 1px solid #eee;
  position: relative;
  padding: 8px 16px;
}

td::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background-color: var(--primary);
}

td:last-child::after {
  content: none;
}

.clickableRow:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}