.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  table-layout: fixed;
}

.table thead th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding: 8px;
  border-bottom: 2px solid #ccc;
  white-space: nowrap;
  cursor: pointer;
}

.table tbody td {
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;

  white-space: nowrap;
  /* 改行をさせない */
  overflow: hidden;
  /* はみ出した部分を非表示にする */
  text-overflow: ellipsis;
  /* はみ出した部分を「…」にする */
  max-width: 150px;
  /* 最大幅 */
  min-width: 50px;
  /* 最小幅 */
}

.table tbody tr:hover {
  background-color: #fafafa;
}

.resizeHandle {
  background-color: rgb(131, 125, 125);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  cursor: col-resize;
  user-select: none;
  z-index: 2;
}

.resizeHandle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  padding: 6px 12px;
  background: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 8px;
  cursor: pointer;
}

.button:hover {
  background: #0056b3;
}

.sortHeader {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}