/* Header */
.site_header {
  height: 128px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 0, 140, 0.2) 0%, rgba(0, 21, 255, 0.2) 100%),
    #828282;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--secondary);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.08rem;
  font-weight: 500;
  font-family: var(--font-heading);
  cursor: pointer;
}