/* Navigation */
.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.notify_button {
  width: 100%;
  height: 100%;
  padding: 0;
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_wrapper svg {
  width: 45px;
  height: 45px;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.25));
  transition: transform 0.3s;
}

.notify_button:hover .icon_wrapper svg {
  transform: scale(1.2);
}

.loginButton {
  padding: 10px 20px;
  font-weight: bold;
  color: var(--primary);
  background-color: var(--secondary);
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}